apiVersion: 1

datasources:
  # Prometheus for metrics
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 15s
      httpMethod: POST

  # Jaeger for distributed tracing
  - name: Jaeger
    type: jaeger
    uid: jaeger
    access: proxy
    url: http://jaeger:16686
    editable: true
    jsonData:
      tracesToLogs:
        datasourceUid: 'elasticsearch'
        tags: ['trace_id', 'traceId']
        mappedTags: [{ key: 'trace_id', value: 'traceId' }]

  # Elasticsearch for logs
  - name: Elasticsearch
    type: elasticsearch
    uid: elasticsearch
    access: proxy
    url: http://elasticsearch:9200
    database: "logs-*"
    editable: true
    jsonData:
      timeField: "@timestamp"
      esVersion: "8.12.0"
      logMessageField: message
      logLevelField: log_level
      interval: Daily
      timeInterval: 10s
      includeFrozen: false
      maxConcurrentShardRequests: 5

